name: Task 12

on: 
  push:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  concurrency-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Print Branch
        run: echo "Running latest workflow for ${{ github.ref_name }}"

