name: Task 7

on:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    outputs: 
      VERSION: ${{ steps.version.outputs.version }}

    steps:
      - name: Generate Output
        id: version
        run: echo 'version=1.0.0' >> "$GITHUB_OUTPUT"

  consume:
    needs: generate
    runs-on: ubuntu-latest

    steps:
      - name: Print Output
        run: echo "Version received = ${{ needs.generate.outputs.VERSION }}"